.c-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-feature-settings: "falt";

    @include sp {
        padding: 0 17px;
    }

    .c-box__item {
        &:nth-child(2) {
            flex-direction: row-reverse;

            .c-box__img {
                transform: translate(15px, -1px);
            }

            .c-box__numberbullet {
                transform: translate(42px, -29px);
            }

            .c-box__title {
                transform: translate(29px, -24px);
            }

            .c-box__highlight {
                margin-left: -1px;
                margin-right: -2px;
            }

            .c-box__iconshine {
                right: 5.3%;
                top: -40%;
            }

            .c-box__desc {
                transform: translate(28px, -1px);
            }

            @include tab {
                flex-direction: column;

                .c-box__img {
                    transform: none;
                }

                .c-box__numberbullet {
                    transform: translate(20px, 10px);
                }

                .c-box__title {
                    transform: translate(0, -24px);
                }

                .c-box__iconshine {
                    top: -30%;
                    right: 20%;
                }

                .c-box__desc {
                    transform: none;
                }
            }
            
            @include sp {
                .c-box__content {
                    margin-bottom: 16px;
                }

                .c-box__numberbullet {
                    transform: translate(-53px, -26px);
                }

                .c-box__title {
                    transform: translate(-6px, -23px);
                }

                .c-box__iconshine {
                    top: -70%;
                    right: 0%;
                }

                .c-box__highlight {
                    margin-left: -1px;
                    margin-right: 0;
                }

                .c-box__desc {
                    letter-spacing: 0.4px;
                    line-height: 1.55;
                    margin-left: 36px;
                }

                .c-box__img {
                    margin-top: -2px;
                }
            }
        }

        &:nth-child(3) {
            .c-box__highlight {
                margin-left: 0;
                margin-right: 2px;
            }

            .c-box__iconshine {
                top: -40%;
                right: -1%;
            }

            @include tab {
                .c-box__iconshine {
                    top: -30%;
                    right: 12%;
                }
            }

            @include sp {
                .c-box__numberbullet {
                    transform: translate(-53px, -25px);
                }

                .c-box__iconshine {
                    top: -75%;
                    right: -4.5%;
                }

                .c-box__title {
                    margin-left: 36px;
                    transform: translateY(-22px);
                }

                .c-box__highlight {
                    margin-right: 1px;
                }

                .c-box__desc {
                    margin-left: 36px;
                    line-height: 1.59;
                    letter-spacing: 0.35px;
                }

                .c-box__img {
                    margin-top: -1px;
                }
            }
        }
    }

    .c-box__item {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4.5%;
        margin-bottom: 96px;

        @include pc {
            align-items: center;
        }

        @include tab {
            flex-direction: column;
        }

        @include sp {
            margin-bottom: 15px;
        }
    }

    .c-box__content {
        max-width: 50%;

        @include tab {
            max-width: 100%;
            margin-bottom: 30px;
        }

        @include sp {
            margin-bottom: 14px;
        }
    }

    .c-box__numberbullet {
        width: 89px;
        transform: translate(14px, -28px);

        @include tab {
            transform: translate(20px, 10px);
        }

        @include sp {
            transform: scale(0.5) translate(-41px, -25px) !important;
        }
    }

    .c-box__title {
        font-size: 2.8rem;
        font-weight: 700;
        margin-left: 95px;
        transform: translate(0, -23px);
        position: relative;

        @include sp {
            font-size: 1.4rem;
            margin-top: -15px;
            margin-left: 42px;
        }
    }

    .c-box__highlight {
        font-size: 3.6rem;
        font-weight: 700;
        color: $highlight-color;
        margin-left: 2px;

        @include sp {
            font-size: 1.8rem;
            margin-left: 1px;
        }
    }

    .c-box__iconshine {
        width: 42px;
        position: absolute;
        top: -41%;
        right: 10.3%;

        @include tab {
            top: -30%;
            right: 20%;
        }

        @include sp {
            transform: scale(0.5);
            top: -72%;
            right: 5.1%;
        }
    }

    .c-box__desc {
        font-size: 2.1rem;
        font-weight: 400;
        margin-left: 95px;
        letter-spacing: 0.7px;
        line-height: 1.59;

        @include sp {
            font-size: 1.1rem;
            margin-left: 42px;
            margin-top: -12px;
            letter-spacing: 0.4px;
            line-height: 1.54;
            font-feature-settings: "palt";
        }
    }

    .c-box__img {
        transform: translate(13px, 0);

        @include tab {
            transform: none;
            width: 100%;
        }
    }


}

.c-box--4 {
    flex-direction: row;
    padding: 147px 0 77px;
    margin: 0 auto;
    max-width: 1584px;
    justify-content: space-between;

    @include tab {
        max-width: 768px;
        flex-wrap: wrap;
        padding: 120px 0 100px;
    }

    @include sp {
        padding: 74px 0 99px;
        // row-gap: 16px;
        max-width: 375px;
        width: 100%;
        justify-content: space-between;
    }

    .c-box__item {
        &:nth-child(1) {
            .c-box__img {
                transform: translate(-4px, -1px);
            }

            .c-box__title {
                transform: translate(-4px, -2px);
                letter-spacing: 0.5px;
            }

            .c-box__desc {
                transform: translate(-3px, 0);
            }

            @include tab {
                .c-box__img {
                    transform: none;
                }

                .c-box__title {
                    transform: none;
                }

                .c-box__desc {
                    transform: none;
                }
            }

            @include sp {
                padding: 10px 6px 3px 9px;
                margin-bottom: 16px;

                .c-box__title {
                    letter-spacing: 0.4px;
                    font-feature-settings: "palt";
                }

                .c-box__img {
                    height: 117px;
                }
            }
        }

        &:nth-child(2) {
            .c-box__img {
                transform: translate(-2px, -1px);
            }

            .c-box__title {
                transform: translate(-3px, 0);
            }

            .c-box__desc {
                transform: none;
            }

            @include tab {
                .c-box__title {
                    transform: none;
                }
            }

            @include sp {
                padding: 10px 6px 3px 9px;
                margin-bottom: 16px;

                .c-box__img {
                    height: 117px;
                    transform: translate(0, 2px);
                }

                .c-box__content {
                    margin-top: 26px;
                }

                .c-box__desc {
                    margin-left: 1px;
                    letter-spacing: 0.4px;
                    line-height: 1.28;
                    margin-top: 7px;
                }
            }
        }

        &:nth-child(3) {
            .c-box__title {
                transform: translate(-1px, -2px);
            }

            @include tab {
                .c-box__title {
                    transform: none;
                }
            }

            @include sp {
                padding: 11px 6px 2px 9px;

                .c-box__title {
                    margin-left: 0;
                }

                .c-box__desc {
                    margin-left: 0;
                    line-height: 1.3;
                    margin-top: 6px;
                }
            }
        }

        &:nth-child(4) {
            .c-box__img {
                transform: translate(1px, -1px);
            }

            .c-box__title {
                transform: translate(0, -2px);
            }

            @include tab {
                .c-box__img {
                    transform: translate(-1px, -1px);
                }

                .c-box__title {
                    transform: none;
                }
            }

            @include sp {
                padding: 10px 7px 2px 8px;

                .c-box__img {
                    transform: translateX(2px);
                }

                .c-box__desc {
                    letter-spacing: 0.23px;
                }
            }
        }
    }

    .c-box__item {
        display: unset;
        padding: 1.4% 1.2% 2.8% 1.4%;
        background-color: #fff;
        width: 21.3%;
        margin-bottom: 0;

        @include tab {
            width: 46.7%;
            margin-bottom: 1.4%;
        }

        @include sp {
            padding: 10px 9px 15px;
            margin-bottom: 0;
            width: 44.1%;
        }
    }

    .c-box__numberbullet,
    .c-box__highlight,
    .c-box__iconshine {
        display: none;
    }

    .c-box__img {
        transform: none;
        width: 100%;

        @include sp {
            height: 116px;
            width: unset;
        }
    }

    .c-box__content {
        max-width: unset;
        margin-top: 23px;

        @include sp {
            margin-top: 25px;
            max-width: 100%;
        }
    }

    .c-box__title {
        font-size: 2.3rem;
        font-weight: 400;
        position: static;
        transform: none;
        margin-left: 0;

        @include tab {
            text-align: left;
        }

        @include sp {
            font-size: 1.1rem;
        }
    }

    .c-box__desc {
        font-size: 1.9rem;
        font-weight: 300;
        margin-left: 0;
        max-width: 98%;
        line-height: 1.44;
        letter-spacing: 0.1px;
        margin-top: 11px;

        @include pc {
            text-align: justify;
        }

        @include sp {
            font-size: 1rem;
            margin-top: 5px;
            width: 100%;
            line-height: 1.3;
            letter-spacing: 0.24px;
            margin-left: 1px;
        }
    }

}
