.c-form {
    margin: 91px 50px 0;

    @include tab {
        margin: 80px 50px 0;
    }

    @include sp {
        margin: 17px 28px 0;
    }

    .c-form__link {
        height: 283px;
        color: #000;
        font-family: $special-fonts2;
        font-weight: 300;
        font-size: 4.8rem;
        border: 1px solid #000;
        display: flex;
        letter-spacing: 4px;
        align-items: center;
        justify-content: center;

        @include sp {
            font-size: 2.4rem;
            height: 111px;
            letter-spacing: 2.3px;
        }
    }

    .c-form__text {
        margin-left: -6px;
        margin-top: 5px;

        @include sp {
            margin-left: 0;
        }
    }
}
