//============================================
// clearfix
//============================================
@mixin clear {
    *zoom: 1;

    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

//============================================
// breakpoint
//============================================
@mixin sp {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin tab {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}

@mixin pconly {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}

@mixin pc {
    @media only screen and (min-width: 1024px) and (max-width: 1368px) {
        @content;
    }
}

//============================================
// font-family
//============================================
@font-face {
    font-family: "NotoSansJP";
    font-weight: 300;
    src: url("../../assets/font/NotoSansJP-Light.otf");
}

@font-face {
    font-family: "NotoSansJP";
    font-weight: 400;
    src: url("../../assets/font/NotoSansJP-Regular.otf");
}

@font-face {
    font-family: "NotoSansJP";
    font-weight: 700;
    src: url("../../assets/font/NotoSansJP-Bold.otf");
}

@font-face {
    font-family: "NotoSerifJP";
    font-weight: 400;
    src: url("../../assets/font/NotoSerifJP-Regular.otf");
}

@font-face {
    font-family: "NotoSerifJP";
    font-weight: 700;
    src: url("../../assets/font/NotoSerifJP-Bold.otf");
}

@font-face {
    font-family: "Oswald";
    font-weight: 400;
    src: url("../../assets/font/Oswald-Regular.otf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("../../assets/font/Roboto-Regular.otf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("../../assets/font/Roboto-Bold.otf");
}

.is-only--sp {
    display: none;

    @include sp {
        display: block;
    }
}
