<footer class="c-footer">
    <a href="#" class="c-footer__link">
        <picture>
            <source media="(max-width: 767px)" srcset="">
            <img src="./assets/img/footer__logo.png" alt="Coco MGM Design" class="c-footer__img">
        </picture>
    </a>
</footer>